:root{
    --negro:#0b0b0b;
    --blanco:#ffffff;
    --dorado:#d4af37;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:var(--negro);
    color:var(--blanco);
}
.quienes-somos {
  padding: 60px 10%;
}

.qs-contenedor {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Texto */
.qs-texto {
  flex: 1;
  color: #ffffff;
  text-align: justify;
  line-height: 1.6;
}

/* Imagen */
.qs-imagen {
  flex: 1;
  text-align: center;
}

.qs-imagen {
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
}
.texto{
    margin-bottom: 20px; /* espacio entre textos */
}
.menu{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:15px;
    background:#000;
}

.menu a{
    color:var(--dorado);
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.logo{
    width:350px;
    margin-bottom:20px;
}

h1,h2,h3{
    color:var(--dorado);
}

.seccion{
    padding:70px 10%;
    text-align:center;
}

.fondo{
    background:#212121;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.card{
    background:#1a1a1a;
    padding:30px;
    border:1px solid #333;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:var(--dorado);
    color:#000;
    text-decoration:none;
    font-weight:bold;
}

footer{
    padding:20px;
    background:#000;
    text-align:center;
    color:#aaa;
}
.btn-whatsapp {
  background-color: #25d366;
  color: #fff;
  padding: 14px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.btn-whatsapp:hover {
  background-color: #1ebe5d;
}
.redes-sociales {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.redes-sociales a {
  width: 45px;
  height: 45px;
  background-color: #f1c40f; /* amarillo elegante */
  color: #1f1f1f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.3s ease, background 0.3s ease;
}

.redes-sociales a:hover {
  transform: scale(1.15);
  background-color: #d4ac0d;
}